<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Match Match</title>
  </head>
  <body>

      <div class="container ">
         <div class="cfppage">
          <br>
           <p>
              <a href="https://codeforphilly.org/projects/match_match_philly">
                  Match Match Philly &#8211; a City of Philadelphia &#47; Code for Philly Project
              </a>
            </p>
            <div class="resultsheader">
              <hr style="border-color: #9C2426;">
              <p>
                <span class="display-4">
                  Welcome to Match Match Philly
                </span>
                <br>
                <span class="h6 text-muted">
                  Match Match Philly will integrate the City of Philadelphia's engagement data collection system (VAN) with its volunteer recruitment tool (VolunteerMatch). The City is moving to track all engagement data with this tool to increase data sharing and improve the way departments track and conduct engagement. This integration will enable seamless tracking and management of volunteer recruitment data.
                </span>
              </p>
              <hr  style="border-color: #9C2426;">
            </div>  <!-- close resultsheader -->
              <br>

          <div class="resultsevent">
              <ul class="list-group">
                <li class="list-group-item h5">
                    Before you upload into VAN, have you...
                </li>
                <li class="list-group-item">
                    &#8226;&nbsp;gone to VolunteerMatch and saved a report?
                </li>
                <li class="list-group-item">
                    &#8226;&nbsp;downloaded that report to Excel and saved it to your hard drive?
                </li>
                <li class="list-group-item">
                    &#8226;&nbsp;are you sure of the path and file name of your Excel file?
                </li>
              </ul>
              <br>
              <br>
              <br>
              <p class="h5" style="color: #9C2426;">
                Upload VolunteerMatch Excel file into City of Philadelphia VAN
              </p>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
      <!-- LINK ACTIVE TEMP FOR DEMO -->
                  <a href="/results">
                    <button class="btn btn-outline-secondary" type="button">Upload</button>
                  </a>
      <!-- LINK ACTIVE TEMP FOR DEMO -->
                </div>
                <div class="custom-file">
                  <form method="post" enctype="multipart/form-data" >
                    <input type="file" id="file" name="file"  multiple>

                  </form>
                </div>
              </div>

          </div> <!-- close resultsevent -->
          <br>
          <br>
          <br>
          <br>
  <!-- *** BLUE PAGE FOOTER SHOWS THE END OF EVENT RESULTS**** -->
          <div class="p-3 mb-2 bg-primary text-white">
              <img src="/static/codephllogo.png" class="img-fluid" alt="Responsive image" style="float:left; margin-right: 20px;" />
              <p style="padding-bottom: 20px;">
                The Civic Engagement Launchpad is a month-long, project-launching “sprint” focused on improving democratic systems and creating tools for greater civic engagement. Multi-disciplinary teams work on projects that are public-minded, open source, and not-for-profit.<br><br>
                Evolving from weekend hackathons, launchpads provide the resources, setting, and framework for teams and individuals who want to make a lasting positive impact. Project teams have a chance to bond, collaborate, work with stakeholders, and develop viable projects that are sustainable long after Launchpad’s conclusion.
              </p>
          </div> <!-- close blue page footer -->
        </div> <!-- close cfppage -->
    </div> <!-- close container -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <!-- LOCAL JAVASCRIPT/JQUERY !!!! NOT ACTIVATED -->
    <!-- <script language="JavaScript" type="text/javascript" src="codeforphilly.js"></script> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
